.root {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

  li {
    border-radius: 50%;
    transition: background 0.15s;
    &:hover {
      background-color: #8c68a5;
      a {
        color: #fff;
      }
    }
    a {
      display: inline-block;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 1px solid;
      padding: 12px;
      text-align: center;
      color: #cf9df2;

      line-height: 18px;
      cursor: pointer;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: 0.15s;
    }
  }
}

:global {
  .disabled {
    a {
      color: rgb(171, 171, 171) !important;
      &:hover {
        background-color: rgb(224, 224, 224);
      }
    }
  }
  .selected {
    a {
      background-color: #8c68a5;
      color: #fff !important;
    }
  }
}
